.navbar {
	padding: 0 .5rem;
	height: 3rem;
	background: #1c1c1c;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.navbar__link, .navbar__title {
	padding: 0 1rem;
	color: white;
	line-height: 2.75;
	cursor: pointer;
	transition: background .15s;
}

.navbar__title {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 2;
}

.navbar__links {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.navbar__link.active {
	background: rgba(255, 255, 255, 0.1);
}

.navbar__link:hover {
	background: rgba(255, 255, 255, 0.2);
}

/* searchbar */

.searchbar {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.searchbar.active {
	cursor: text;
}

.searchbar__input {
	width: 8rem;
	height: 1rem;
	max-width: 100vw;
	padding: .5rem 1rem;
	color: white;
	background: rgba(255, 255, 255, 0.1);
	outline: none;
	border: none;
	cursor: pointer;
	font-size: .8rem;
	border-radius: 5rem;
	transition: width .3s, background .15s;
}

.searchbar__clear {
	height: 2rem;
	width: 0;
	margin: 0 .5rem;
	color: white;
	background: rgba(255, 255, 255, 0.1);
	line-height: 2;
	border-radius: 50%;
	text-align: center;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
	transition: opacity .3s, width .3s, background .15s;
}

.searchbar__sort {
	width: 3rem;
	height: 2rem;
	padding: 0 1rem;
	color: white;
	background: rgba(255, 255, 255, 0.1);
	line-height: 1.9;
	border-radius: 2rem;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: background .15s;
}

.searchbar__input:hover,
.searchbar__clear:hover,
.searchbar__sort:hover {
	background: rgba(255, 255, 255, 0.2);
}

.searchbar.active .searchbar__input {
	width: 16rem;
	cursor: text;
	background: rgba(255, 255, 255, 0.2);
}

.searchbar.active .searchbar__clear {
	width: 2rem;
	opacity: 1;
}

.searchbar__sort:not(.ascending):not(.descending) {
	text-align: center; }
.searchbar__sort.ascending, .searchbar__sort.descending {
	text-align: left; }

.searchbar__sort::after {
	opacity: .75;
	display: inline-block;
	position: absolute;
	right: 1rem;
}

.searchbar__sort.ascending::after {
	content: "^";
}

.searchbar__sort.descending::after {
	content: "^";
	transform: rotate(180deg);
}

@media (orientation: portrait) {
	.navbar {
		padding: 0;
	}

	.navbar__title {
		display: none;
	}

	.navbar__links {
		flex-grow: 1;
	}

	.navbar__link {
		padding: 0 .75rem;
	}

	.searchbar {
		width: 0;
		flex-grow: 1;
		flex-shrink: 0;
		transition: flex-shrink .6s, width .3s;
	}

	.searchbar.active {
		width: calc(100% - 2rem);
		flex-shrink: 0;
	}

	.searchbar__input {
		width: 0 !important;
		flex-grow: 1;
	}
}
