.note-bar, .note-card {
	margin: 2rem 0;
	padding: 1.5rem;
	border-radius: .33rem;
	box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.15);
}

.note-card__title, .note-bar__input-title {
	margin: 1rem 0;
	font-size: 1.4rem;
}

.note-card__description, .note-bar__input-description {
	margin: 1rem 0;
}

/* note bar */

.note-bar__input-title {
	width: 100%;
	outline: none;
	border: none;
}

.note-bar__input-description {
	resize: vertical;
	width: 100%;
	font-family: sans-serif;
	outline: none;
	border: none;
	display: none;
}

.note-bar__buttons {
	display: none !important;
}

.note-bar.active .note-bar__input-description {
	display: block;
}

.note-bar.active .note-bar__buttons {
	display: flex !important;
}

/* note card */

.note-card__description {
	white-space: pre;
}

.note-card__actions {
	display: flex;
	justify-content: right;
}

.note-card__tags {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}

.note-card__tag {
	height: 1rem;
	padding: .5rem 1rem;
	color: white;
	font-size: .8rem;
	line-height: 1.2;
	border-radius: 2rem;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

/* note search info */

.note-search-info {
	text-align: center;
	position: relative;
	opacity: .5;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.note-search-info::before, .note-search-info::after {
	content: "";
	height: 1px;
	width: 5rem;
	margin: 0 1rem;
	display: inline-block;
	background: currentColor;
	position: relative;
	bottom: .3rem;
	opacity: .5; /* thin lines appear too dark */
}

@media (orientation: portrait) {
	.note-search-info::before, .note-search-info::after {
		width: 2rem;
	}
}
